/* Base  */

body {
  margin: 0;
  background: oklch(0% 0% 0);
  font-family: Lora, serif;
  line-height: 1.5;
}

html, body, main {
  height: 100vh;
}

main {
  display: grid;
  place-items: center;
}

/* Card */

.card {
  position: relative;
  display: grid;
  place-items: center;
  width: 500px;
  padding: 2em;
  min-height: 150px;
}

.card__gradient-blur {
  z-index: 0;
  position: absolute;
  inset: -10px;
  filter: blur(60px);
}

.card__gradient-mask {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.card__content {
  position: relative;
  z-index: 1;
  color: oklch(95% 0 0);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 1px 1px 8px hsl(from #000 h s l / 0.5);
  quotes: initial;
}

/* Gradient */

.gradient {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%) scale(2);
  width: 100%;
  height: 100%;
  
  background-image: conic-gradient(
		from 0deg,
		#08f,
		#f60,
		#bbffa1,
		#4c00ff,
		#ab2666,
		#09f
	);
  animation: spin 15s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(2);
  }
  
  100% {
    transform: translate(-50%, -50%) rotate(1turn) scale(2);
  }
}